---
import Nav from "./Nav.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="relative z-10 w-full bg-white dark:bg-gray-800">
  <!-- Skip to Content -->
  <a
    class="unset absolute z-20 left-1/2 -top-[100rem] transform -translate-x-1/2 bg-white text-black px-4 py-2 focus:top-0 focus:outline-none"
    href="#main"
  >
    Skip to content
  </a>

  <!-- Navbar -->
  <nav class="flex items-center justify-between px-4 py-2">
    <!-- Add your navbar content here -->
    <Nav />
    
    <!-- Social Links & Contact -->
    <div class="flex items-center space-x-4">
      <a
        class="flex items-center space-x-2 text-black dark:text-white hover:text-primary-yellow"
        href="https://github.com/muhkelvin"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Blogster on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="flex items-center space-x-2 text-black dark:text-white hover:text-primary-blue"
        href="mailto:muhkelvin36@gmail.com"
      >
        <i class="fa-brands fa-envelope" aria-hidden="true" title="Contact"></i>
        <span>muhkelvin36@gmail.com</span>
      </a>
    </div>
  </nav>

  <!-- Dark Mode Toggle -->
  <div class="absolute top-2 right-2">
    <DarkModeToggle />
  </div>
</header>

<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
